# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* List Popular languages for Data Science
* List Popular Libraries ued by data scientists
* Evaluate few examples of arithmetic expressions in python

### Some of the Popular languages that data scientists used are: 

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Tensorflow
3. Keras

### Data Science Tools

-----------------------------
| Data Science Tools |
-------------------------------
|    Jupyter Notebook       |
|        RStudio            |
|    Apache Zepellin        |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [9]:
a = 2
b = 3
res = a + b * 2
print(res)

8

In [10]:
a = 9
b = 35
c = 35 + b - a
print(c)

61

In [11]:
# This a simple arithmetic expression to mutiply then add integers

(3 * 4) + 5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author

Anshika Chauhan